<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wmagliano.mastertools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mastertools_fondo"
        android:roundIcon="@mipmap/mastertools_fondo_round"
        android:label="MasterTools"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasterTools">

        <activity
            android:name=".MainActivity"
            android:exported="true">  <!-- 🔥 ESTA ES LA CLAVE -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>